*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color:blue;
    color: white;
    padding: 30px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 800px;
}
li{
    color: greenyellow;
    cursor: pointer;

}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}

.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 150px;
}

.box:hover{
    background-color: blue;
    color: white;
}

.menus{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
